* text=auto eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.c   text eol=lf
*.h   text eol=lf
*.cmake text eol=lf
*.txt text eol=lf
*.md  text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.sh  text eol=lf
*.cases text eol=lf

*.ttf binary
*.png binary
*.jpg binary
*.ogg binary
*.zip binary
